
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    // Allow users to read their own user account
    match /userAccounts/{userId} {
      allow read: if isOwner(userId);
      // Allow anyone to create a user account, but they must be the owner of the account
      allow create: if isOwner(userId);
    }

    match /userProfiles/{userProfileId} {
      allow read, write: if isOwner(userProfileId);
    }
  }
}
